/* Coming Soon Intro */

.intro-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.arrow-animation {
  width: 64px;
}

.logo-animation {
  width: 260px;
  animation: logoFadeIn 0.6s ease-out forwards;
}

@keyframes logoFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
